
.wrapper-centro {
  display: flex;
  justify-content: center;  
  align-items: center; 
}
.contenitore {
  display: inline-block; /* si adatta al contenuto */
  padding: 10px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  
}

.lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista li {
  padding: 8px 12px;
}

/* Stili speciali per il primo e il quarto elemento */

.lista li:nth-child(4) {
  border: 2px solid black;
  background-color: lightgreen;
  font-weight: bold;
}

.lista li:nth-child(2){
  border: 2px solid black;
  background-color: lightseagreen;
  font-weight: bold;
}


/* Bottone Link */
.container-btn{
  text-align: center;
  margin-top: 20px;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;  
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: 0.3s ease; 
}

.btn:hover {
  background-color: #216a95;  
  transform: scale(1.05);     
  cursor: pointer;
}


/* Card */
.card-container{
  width: 100%;
  display: flex;
  justify-content:center;
  margin-top: 40px;
}

/* card utente  */
.card{
  width: 400px;
  padding: 20px;
  border:1px solid #ccc;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 9 10px rgba(0,0,0,0.1);
  text-align: center;
}

.card-title{
  margin:0 0 10px 0;
  font-size: 24px;
  text-align: center;
}